body {
    background: #111;
    background-size: cover; 
    background-attachment: scroll
}

.all{
    height: 300%;
}

.main_all{
    position: relative;
}

.restoran_logo{
    text-align: center;
}

.hada {
    position: absolute;
    text-align: right;
    margin: auto;
    top: 15rem;
    left: 0;
    right: 0;
    opacity: 1;
    filter: url(#posterize);
    max-width: 100%;
    height: auto;

    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.bgvideo {
    position: fixed;
    filter: blur(5px);
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -9999;
    pointer-events: none;
}
  
#adress, #tel {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-family: "ObjektivMk1-Regular", sans-serif; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.info{
    position: absolute;
    margin: auto;
    top: 10%;
    left: 0;
    right: 10%;
    text-align: right;
}

#reserve_top {
    float: right;
    position: absolute;
    font-family: 'Jost', cursive;
    font-weight: 10%;
    bottom: 0px;
    left: 0px;
    color: #fff;
    line-height: 4vw;
    margin-bottom: -7rem;
    margin-left: 12%;
    text-shadow: 4px 4px 3px #111;
}

#smile{ 
    position: absolute;
    width: fit-content;
    top:40rem;
    left: 200%;
    font-size: 500%;
    height: 6rem;
    background-color: rgba(255, 0, 0, 0.432);
    z-index: 1;
}

#mainblock{
    position: relative;
}

@media screen and (min-width: 701px) {
    span#album {
        font-size: 80px;
    }
    #reserve_top{
        margin-top: -7rem;
    }
} 
  
@media screen and (max-width: 700px) {
    span#album {
        font-size: 10vw;
    }
    #reserve_top{
        top: 65rem;
    }
}
@media screen and (max-width: 500px) {
    span#album {
        font-size: 11vw;
    }
    #reserve_top{
        top: 75rem;
    }
}   