::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');




html {
  overflow-x:hidden;
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

html, body {
  margin: 0;
  padding: 0;
}