.slider_all{
    float: inline-start;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0 auto;
    margin-bottom: -60rem;
}

/*------------
Позиция слайдера
------------*/

#slider{    
    position: relative;
    text-align: center;
    top: 1rem;

    margin: 0 auto;
}

/*Расположение изображений по порядку ради правильной прокрутки*/

#slider article{
    width: 20%;
    float: left;
}

/*Настройки слайдера*/

#slider .image{
    width: 500%;
    line-height: 0;
}

#overflow{
    width: 100%;
    overflow: hidden;
}

article img{
    width: 45rem;
    max-width: 100%;
}

#desktop:checked ~ #slider{
    max-width: 960px;
}

#switch1:checked ~ #controls label:nth-child(1),
#switch1:checked ~ #controls label:nth-child(2),
#switch1:checked ~ #controls label:nth-child(3){
    background: #111;
    float: left;
    margin: 0 0 0 -14rem;
    display: block;
    width: 68px;
    height: 68px;
}
#switch1:checked ~ #controls label:nth-child(3),
#switch1:checked ~ #controls label:nth-child(1),
#switch1:checked ~ #controls label:nth-child(2){
    background: #111;
    float: right;
    margin: 0 -14rem 0 0;
    display: block;
    width: 68px;
    height: 68px;
}

label, a{
    cursor: pointer;
}

.slider_all input{
    display: none;
}

#switch1:checked ~ #slides .image{
    margin-left: 0;

}
#switch2:checked ~ #slides .image{
    margin-left: -100%;
    
}
#switch3:checked ~ #slides .image{
    margin-left: -200%;
    
}

#controls{
    margin: -25% 0 0 0;
    width: 100%;
    height: 5vw;
}

#active label{
    border-radius: 10px;
    display: inline-block;
    max-width: 30%;
    width: 15rem;
    height: 1rem;
    background: rgb(31, 31, 31);
}

#active{
    margin: 23% 0 0;
    text-align: center;
}

#active label:hover{
    background: #111;
    border-color: wheat !important;
}

#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3){
    background: #f8d68b;
    border-color: violet !important;
}

#slides .image{
    transition: all 200ms cubic-bezier(.5, 0, .5, 0)
}